:root {
    --first-color: #ff0000; /* Example color */
    --title-color: #000000; /* Example color */
    --header-height: 65px; /* Example height */
    --font-semi-bold: 600; /* Example font weight */
    --h2-font-size: 24px; /* Example font size */
    --second-font: 'Arial', sans-serif; /* Example font family */
    --z-fixed: 100; /* Example z-index */
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(234, 234, 234);
    z-index: var(--z-fixed);
  
   }
   
   .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    
   }
   
   .nav__logo {
    color: var(--first-color);
    transition: color 0.4s;
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    text-decoration: none; 
    font-size:30px;
    font-weight: bold;
    margin-left:20px
   }
   
   .nav__toggle,
   .nav__close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
   }
   
   .nav__cta {
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem 1.5rem;
    text-decoration: none; 
    color:white;
    font-weight:bold
   }
   .nav_profile{
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    padding:10px;
    text-decoration: none; 
    color:white;
    font-weight:bold
   }
   .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    list-style: none; 
   }
   
   .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
    text-decoration: none; 
   }
   
   .nav__link:hover {
    color: var(--first-color);
   }
   
   .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
   }
   
   .show-menu {
    right: 0;
   }

   